body {
    font-family: 'Cormorant SC', serif;

}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

section {
    display: flex;
}

.size {
    width: 2000px;
    padding-left: 100px;
}

.size img {
    width: 40%;
}