body {
    font-family: 'Cormorant SC', serif;
    margin: 0;
}

p {
    color: rgb(222, 11, 215);
    font-size: larger;
    font-weight: 800;
}

h1 {
    font-size: 20px;
}


.orange-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin: 120px;
}

.size {
    width: 200%;
    padding-right: 20px;

}

.size img {
    width: 400px;
    padding-left: 300px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(blue, white);
    padding: 10px 20px;
    color: crimson;
    font-weight: 700;
    border-radius: 50px;
}

.top-banner {
    background-image: url(images/top-banner2.jpg);
}

.funny-moment {
    background-image: url(images/shawn6.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}

.happy-watching {
    background-image: url(images/back2.jpg);
    background-repeat: no-repeat;
    background-position: top;
}



.cartoon-item {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px goldenrod;

}

#shaun-the-sheep {
    border-left: 10px solid rgb(224, 224, 9);
}

#oggy-and-cockroz {
    border-left: 10px solid rgb(234, 13, 87);
}

footer p {
    text-align: center;
}